<% provide(:title, "Contact") %>
<!-- <table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Birthday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="../../assets/images/captain.jpg" alt=""></td>
      <td>Ngô Văn Tiến (C)</td>
      <td></td>
    </tr>
    <tr>
      <td><img src="file:///home/congtuan/Pictures/Insal/CHoai.jpg" alt=""></td>
      <td>Chị Hoài</td>
      <td></td>
    </tr>
    <tr>
      <td><img src="file:///home/congtuan/Pictures/Insal/ATin.jpg" alt=""></td>
      <td>Anh Tín</td>
      <td></td>
    </tr>
    <tr>
      <td><img src="file:///home/congtuan/Pictures/Insal/AThuan.jpg" alt=""></td>
      <td>Anh Thuần</td>
      <td></td>
    </tr>
    <tr>
      <td><img src="file:///home/congtuan/Pictures/Insal/AThanh.jpg" alt=""></td>
      <td>Võ Văn Thạnh</td>
      <td></td>
    </tr>
    <tr>
      <td><img src="file:///home/congtuan/Pictures/Insal/CT8.jpg" alt=""></td>
      <td>Lê Công Tuấn 19</td>
      <td></td>
    </tr>
    <tr>
      <td><img src="file:///home/congtuan/Pictures/Insal/GaCon.jpg" alt=""></td>
      <td>Gà Chíp</td>
      <td></td>
    </tr>
    <tr>
      <td><img src="file:///home/congtuan/Pictures/Insal/GaCon.jpg" alt=""></td>
      <td>Phong Toda</td>
      <td></td>
    </tr>
  </tbody>
</table> -->
