@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  position: absolute;
  top: 592px;
  background: #333;
  width: 100%;
}
footer {
  p {
    text-align: center;
    color: white;
  }
}
.main-center {
  border-radius: 20px;
  margin: 30px auto;
  max-width: 500px;
  padding: 10px 40px;
  background: #999;
  color: #FFF;
  text-shadow: none;
}
.row {
  padding-bottom: 15px;
}
